<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MySqlConnection" connectionString="server=localhost;user id=root;password=mykz;database=zeereal_artspace;" />
	</connectionStrings>
	<appSettings>
		<add key="EmailAddress" value="mykanaparato@gmail.com" />
		<add key="EmailPassword" value="ewfmyzzcrvznsblo" />
		<add key="ResetLinkBaseUrl" value="http://localhost/reset" />
		<add key="EncryptionKey" value="K3yP@ssw0rd!2024#Secur3" />
		<add key="EncryptionIV" value="IV@2024#Secure" />
	</appSettings>
</configuration>